[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.github.com/collective/collective.cover/master/versions-4.3.x.cfg

package-name = covertile.cycle2
package-extras = [test]

parts +=
    code-analysis
    createcoverage
    i18ndude
    omelette

# mr.developer settings:
always-checkout = force
sources = sources
auto-checkout =

[sources]
# Test with development version of collective.cover
collective.cover = git https://github.com/collective/collective.cover.git

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/covertile/cycle2
pre-commit-hook = True
flake8-ignore = E501
clean-lines = True
deprecated-aliases = True
imports = False
prefer-single-quotes = True
return-status-codes = True
utf8-header = True

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755

[versions]
# use latest version of setuptools
setuptools =
# Suppress unassociated template warnings for collective.cover on bin/test
grokcore.view = 2.9
# Temporary fix until next collective.cover release
collective.js.bootstrap = 2.3.1.1
